section {
  text-align: center;
}

.top {
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: red;
}

section a:hover {
  color: red;
}
section a {
  margin: 2em;
  padding: 15px 20px;
  font-size: 20px;
  color: white;
  background-color: rgb(10, 52, 116);
  border-radius: 5px;
  text-decoration: none;
}

.icon {
  margin: 30px 0;
  padding: 10px 0 5px;
  background-color: #0bd;
  border-radius: 10px;
}
.icon img {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}

.gia1 {
  margin-top: 30px;
}
.gia2 {
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
}

.container h1 {
  border-bottom: 6px solid #0bd;
  text-align: center;
}
h2 {
  font-size: 30px;
  margin-left: 10px;
  text-align: center;
}
.side-box {
  background: #0bd;
  padding: 2px 1px 2px 5px;
  margin: 50px 0;
  border-radius: 20px;
}
.side-box p {
  padding: 0 10px;
}

.sidebox ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #93d8d0;
  display: inline-block;
  margin: 0 8px 2px 0;
}
.sub-menu {
  list-style: none;
  margin-right: 0%;
}
.slider img {
  width: auto;
  height: auto;
}

footer {
  padding: 20px 0;
  height: 40px;
  background-color: #0bd;
}
footer p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
}

/*-------- パーツ２ ↓---------*/

body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

header {
  display: flex;
  padding: 0 16px;
}

header a {
  color: red;
  /* color: #0bd; */
  text-decoration: none;
}

header h1 {
  margin: 0;
  font-size: 22px;
  line-height: 64px;
  text-decoration: none;
}

header h1:hover {
  cursor: pointer;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

main {
  padding: 0 16px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(2, 149, 207, 1);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay a {
  color: #000;
  text-decoration: none;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .5s, transform .5s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}
.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}
.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }
  
  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .pc-menu a {
    display: block;
    width: 80px;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
  }
  
  .pc-menu a:hover {
    background-color: #f2f2f2;
  }
  
  .sp-menu {
    display: none;
  }
}


/*-------- パーツ２ ↑---------*/


/*-------- ダークモード ---------*/
@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #fff;
  }
}

/* DESKTOP SIZE
------------------------------ */
@media (min-width: 600px){
  /* Layout */
  .container {
    display: flex;
    justify-content: space-between;
  }
  /* Main */
  main {
    width: 70%;
    margin-bottom: 0;
  }
  /* Aside */
  aside {
    width: 26%;
  }
  body {
    max-width: 1200px;
    background-position-x: center;
    margin-left: auto;
    margin-right: auto;
  }
}